*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    height: 600px;
    width: fit-content;
}
section {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}