@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,800;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(47, 88%, 63%);
  font-family: 'Figtree', sans-serif;
}
main {
  background-color: #fff;
  padding: 1.5rem;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0.5rem 0.5rem 0 black;
}
main div.mini-title {
  display: flex;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: hsl(47, 88%, 63%);
  font-weight: 600;
}
main h2 {
  font-weight: 900;
  letter-spacing: 0px;
}

main img.main-img {
  /* max-width: 450px; */
  border-radius: 20px;
  background-size: cover;
}
main p {
  color: hsl(0, 0%, 50%);
  font-weight: 400;
}
main span {
  font-weight: 400;
}
.avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.avatar p {
  font-weight: 800;
  color: #000;
}
.avatar img {
  height: 32px;
  width: 32px;
}
@media screen and (min-width: 250px) and (max-width: 460px) {
  main {
    margin: 5rem;
  }
  main img.main-img {
    min-width: 200px;
    max-width: 250px;
  }
}
@media screen and (min-width: 460px) and (max-width: 800px) {
  main {
    margin: 5rem;
  }
  main img.main-img {
    min-width: 250px;
    max-width: 450px;
  }
}
@media screen and (min-width: 660px) and (max-width: 1200px) {
    main {
        margin: 8rem 20rem;
        padding: 2.5rem;
    }
    main img.main-img {
        min-width: 300px;
        max-width: 500px;
      }
}
@media screen and (min-width: 1200px) and (max-width:1700px) {
    main {
        margin: 10rem 40rem;
    }
    main img.main-img {
        min-width: 250px;
        max-width: 450px;
      }
}
@media screen and (min-width: 1700px) {
    html {
        font-size: 32px;
    }
    main {
        margin: 8rem 60rem;
    }
    main img.main-img {
        min-width: 250px;
        max-width: 450px;
      }
}
